/*
<-----Global Style----->
*/
* {
  margin: 0;
  padding: 0;
}

/*
<-----Text Styles----->
*/
h1 {
  color: #d8d9d7;
  font-family: 'Roboto', sans-serif;
}

p {
  color: #d8d9d7;
  font-family: 'Roboto', sans-serif;
}

/*
<-----Navigation----->
*/
nav {
  display: flex;
  align-items: stretch;
  background-color: #593b2a;
  top: 0;
  min-height: 8vh;
  width: 100%;
  position: fixed;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw 0 10vw;
  text-decoration: none;
  color: #d8d9d7;
  font-size: large;
}

nav a:hover{
  background-color: #bf8888;
}

/*
<-----Header----->
*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a6785d;
  margin-top: 5vh;
  padding: 5vh 10vw 5vh 10vw;
}

@media only screen and (min-width: 992px) {
  header{
    width: 100%;
  }
}

/*
<-----Body----->
*/
body {
  background-color: #bf8888;
}

@media only screen and (min-width: 992px) {
  body{
    display: flex;
  }
}

/*
<-----Main Content----->
*/
.content-image {
  max-height: 70vh;
  margin-top: 5vh;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/*
<-----Footer----->
*/
footer {
  background-color: #d8d9d7;
  min-height: 5vh;
}
